
.hide-create-account-error-modal-content  {
	position: relative;
	top: 50px;
	left: 85%;
	width: 500px;
	min-height: 400px;
	margin-left: -250px; /* set to a negative number 1/2 of width, to center properly. */
	overflow: auto;
	align-content: center;
	border: 2px solid red;
	background-color: #FFDEAD;
	box-sizing: border-box;
	transition: all 0.2s; /* transition time must be the same as animation-delay, because we want to start animation right when transition has finished.*/
	animation-name: hideCreateAccountErrorModal;
	animation-duration: 0.7s;
	animation-delay: 0.2s;
}

@keyframes hideCreateAccountErrorModal {
	from {left: 85%;}
	to {left: -50%;}
}

.create-account-error-modal-wrapper {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	padding-top: 4%;
	z-index: 21;   /* sit on top of other divs */
	 /* you must define background color with opacity for the wrapper div, so other divs inside the wrapper are not affected by opacity and will have full opacity. */
	/* opacity: .5; if we define opacity separately, it will affect all child divs inside the wrapper, but we do not want that and that is why we set opacity on the background color of the wrapper div, and not on the wrapper div itself. */
	color: red;
	overflow: auto;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.9);
}

.create-account-error-modal-content {
	position: relative;
	top: 50px;
	left: 50%;
	width: 500px;
	min-height: 400px;
	margin-left: -250px; /* set to a negative number 1/2 of width, to center properly. */
	overflow: auto;
	align-content: center;
	border: 2px solid black;
	background-color: #FFDEAD;
	box-shadow: 0 0 80px white;
	animation-name: aboutMeAnimate;
	animation-duration: 1s;
	
}

.create-account-error-modal-header {
	height: 50px;
	line-height: 40px;
	text-indent: 3%;
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10%;
	border: 2px solid black;
	box-sizing: border-box;
} 

.create-account-error-modal-header span {
	position: relative;
	float: right;
	margin-right: 3%;
	font-size: 3em;
	box-sizing: border-box;
}

.create-account-error-modal-body {
	height: auto;
	color: white;
	padding-bottom: 8%;
	padding-top: 8%;
	background-color: #FFDEAD;
}

.create-account-error-list {
	list-style-type: square;
	margin-left: 5%;
	list-style: none;
}

.create-account-error-list li {	
	height: 50px;
	line-height: 50px;
	width: auto;
	text-indent: 10px;
	text-align: center;
	margin: 0 28px 3px 0;
	font-weight: bold;
	color: white;
	background-color: #800000;
}