

.forgot-password-modal-wrapper {
	position: relative;
	height: 100%;
	color: white;
	background-color: rgba(0,0,0,.7);
	overflow: hidden;
}

.forgot-password-modal-content {
	position: relative;
	left: 50%;
	top: 10%;
	margin-left: -250px;
	width: 500px;
	height: 500px;
	background-color: red;
}