

#navbardiv {
	
	position: fixed;
	width: 100%;
	height: 12%;
	background-color: #800000;
	list-style: none;
	padding: 20px 0 20px 0;
	overflow: hidden;
	box-sizing: border-box;
	z-index: 10;
}

#nav-bar-company-logo a:nth-child(1) {
	position: absolute;
	color: orange;
	top: 3%;
	font-size: 3vw;
	font-weight: bold;
	left: 1%;
	text-decoration: none;
	font-family: fantasy;
	
}

#nav-bar-company-logo a:nth-child(2) {
	position: absolute;
	top: 55%;
	font-size: 0.75vw;
	color: white;
	left: 10%;
	font-family: arial, sans-serif;
	
}

#electronic-div {
	position: absolute;
	height: 20%;
	width: 6%;
	top: 72%;
	left: 2%;
	color: white;
	font-size: 1.2vw;
	text-align: center;
	padding-left: 0.5%;
	padding-right: 0.5%;
	background-color: orange;
	border: 2px solid yellow;
	box-shadow: 0 0 60px orange;
	overflow: auto;

}

#electronic-div:hover {
	cursor: pointer;
	height: 19.7%;
	width: 5.8%;
}

#nav-bar-user-name {
	position: absolute;
	top: 20%;
	left: 20%;
	color: white;
	font-size: 1vw;
}

#nav-search-div {
	position: absolute;
	height: 35%;
	width: 15%;
	top: 50%;
	left: 20%;
	transition: all 1s;
	box-sizing: border-box;
	border: 2px solid black;
	overflow: hidden;
}

#nav-search-div input {
	height: 100%;
	width: 100%;
	text-indent: 5%;
	border: none;
	outline: 0;
	font-size: 1vw;
}

#search-button {
	position: absolute;
	right: 0;
	height: 100%;
	width: 23%;
	top: 0;
	font-size: 0.8vw;
	outline: 0;
	text-align: center;
	background-color: #696969;
	padding-left: 2%;
	padding-right: 2%;
	overflow: auto;
}

#search-button:hover {
	cursor: pointer;
}

#nav-bar-envelope:hover {
	cursor: pointer;
}

#cartCount {
	position: absolute;
	right: 1.9%;
	top: 45%;
	color: black;
	font-size: 1.4vw;
	text-align: center;
	border-radius: 50%;
	min-width: 23px;
	text-align: center;
	color: white;
}



#navShoppingCartDiv:hover {
	cursor: pointer;

}

#nav-bar-customer-service {
	position: absolute;
	right: 5%;
	top: 8%;
	color: white;
	font-size: 1.1vw;
	
}

#nav-bar-feedback {
	position: absolute;
	right: 14%;
	top: 8%;
	color: white;
	font-size: 1.1vw;
	
}

#navBarSignout {
	position: absolute;
	top: 69%;
	right: 6%;
	width: 4.2%;
	height: 26%;
	font-size: 0.8vw;
	line-height: 10%;
	color: white;
	background-color: red;
	outline: none;
}

#navBarSignout:hover {
	cursor: pointer;
	width: 4%;
	height: 25.3%;
}

.nav-my-account-button.show button {
	position: absolute;
	top: 69%;
	right: 11%;
	width: 6%;
	height: 26%;
	color: black;
	font-size: 0.8vw;
	background-color: red;
	line-height: 30px;
	outline: none;
}

.nav-my-account-button.show button:hover {
	cursor: pointer;
	width: 5.7%;
	height: 25.3%;
}

.navSignIn.hidden {
	display: none;
}

.navSignIn.show button:nth-child(1) {
	position: absolute;
	top: 69%;
	right: 6%;
	width: 4.2%;
	height: 26%;
	font-size: 0.8vw;
	line-height: 10%;
	color: black;
	background-color: red;
	outline: none;
}

.navSignIn.show button:nth-child(1):hover {
	cursor: pointer;
	width: 4%;
	height: 25.3%;
}

.navSignIn.show button:nth-child(2) {
	position: absolute;
	top: 69%;
	right: 11%;
	width: 6%;
	height: 26%;
	font-size: 0.8vw;
	line-height: 30px;
	color: black;
	background-color: white;
	outline: none;
}

.navSignIn.show button:nth-child(2):hover {
	cursor: pointer;
	width: 5.7%;
	height: 25.3%;
}


.navMembership {
	position: absolute;
	right: 255px;
	top: 30px;
	color: white;
	font-size: 18px;
	
}

.nav-my-account-button.hidden {
	display: none;
}

/*.nav-favorites {
	position: absolute;
	right: 320px;
	top: 120px;
	color: white;
	font-size: 18px;

}

.nav-favorites.hidden {
	visibility: hidden;
}

.navFriendship.hidden button {
	width: 50px;
	height: 30px;
	background-color:  orange;

}*/